
<h1 style="justify-content: center;display: flex; font-size: 4em;color: aliceblue;" id="title">Welcome to Alon and Omer To Do List</h1>
<%- include("header") -%>
<button id="btn" onclick="myFunction()" >
  Start  
</button>

<script>
function myFunction() {
  location.replace("/list")
}
</script>